
<div class=" content">
  <div class=" row">
    <div class=" col-md-12">
      <div class=" card">
        <!-- <div class=" card-header">
          
                    
        </div> -->
        <br>
        <div class=" card-body">
          <div class="table-responsive">
            <button type="button" name="button" class="btn" id="btn1">RUN MRP</button>
            <button type="button" name="button" class="btn" id="btn2">Generate Priority</button>
            <table class="tab">
              <thead >
                <tr>
                  <td id="head">CLIENT</td><td id="head">WARTSILA & SUBCON</td><td id="head">Code-Article</td><td id="head">1018224</td><td id="head">MD1UDG K100 M18 4.1FR</td>
                </tr>
              </thead>
              <tbody id="tbody">
                <tr>
                  <td id="cel_yel1">Niveau-couverture</td><td id="cel_yel1">S-Liv</td>
                  <td id="cel_yel1">Retard</td><td id="cel_yel1">13</td><td id="cel_yel1">14</td>
                  <td id="cel_yel1">15</td><td id="cel_yel1">16</td><td id="cel_yel1">17</td>
                  <td id="cel_yel1">18</td><td id="cel_yel1">19</td><td id="cel_yel1">20</td>
                  <td id="cel_yel1">21</td>
                </tr>
                <tr>
                  <td rowspan="3" id="cel_lev1">LEVEL1</td><td id="cel_yel2">Demande</td><td>0</td><td>0</td>
                  <td>10</td><td>0</td><td>40</td><td>10</td><td>20</td><td>0</td><td>0</td><td>0</td>
                </tr>
                <tr>
                  <td id="cel_yel2">Stock-Actuel + Suzho PO</td><td id="cel_green">2</td><td id="cel_lev3"></td>
                  <td id="cel_lev3"></td><td id="cel_lev3"></td><td id="cel_lev3"></td><td id="cel_lev3"></td>
                  <td id="cel_lev3"></td><td id="cel_lev3"></td><td id="cel_lev3"></td><td id="cel_lev3"></td>
                </tr>
                <tr>
                  <td id="cel_yel2">Couverture Stock</td><td id="cel_green">2</td><td id="cel_green">2</td>
                  <td id="cel_red">-8</td><td id="cel_red">-8</td><td id="cel_red">-48</td>
                  <td id="cel_red">-58</td><td id="cel_red">-78</td><td id="cel_red">-78</td>
                  <td id="cel_red">-78</td><td id="cel_red">-78</td>
                </tr>
                <tr>
                  <td rowspan="2" id="cel_lev2">LEVEL2</td><td id="cel_yel2">WIP</td><td>10</td><td>0</td>
                  <td>0</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0</td>
                </tr>
                <tr>
                  <td id="cel_yel2">Couverture Stock</td><td id="cel_green">12</td><td id="cel_green">12</td>
                  <td id="cel_green">2</td><td id="cel_green">2</td><td id="cel_red">-38</td>
                  <td id="cel_red">-48</td><td id="cel_red">-68</td><td id="cel_red">-68</td>
                  <td id="cel_red">-68</td><td id="cel_red">-68</td>
                </tr>
                <tr>
                  <td rowspan="2" id="cel_lev3">LEVEL3</td><td id="cel_yel2">Planifiés</td><td>0</td><td>0</td>
                  <td>0</td><td id="cel_green">40</td><td id="cel_green">20</td><td>0</td><td>0</td><td>0</td>
                  <td>0</td><td>0</td>
                </tr>
                <tr>
                  <td id="cel_yel2">Couverture Stock</td><td id="cel_green">12</td><td id="cel_green">12</td>
                  <td id="cel_green">2</td><td id="cel_green">42</td><td id="cel_green">22</td>
                  <td id="cel_green">12</td><td id="cel_red">-8</td><td id="cel_red">-8</td>
                  <td id="cel_red">-8</td><td id="cel_red">-8</td>
                </tr>
                <tr>
                  <td rowspan="2" id="cel_lev4">LEVEL4</td><td id="cel_yel2">à lancer</td><td>0</td><td>0</td>
                  <td>0</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0</td>
                </tr>
                <tr>
                  <td id="cel_yel2">Couverture Stock</td><td id="cel_green">12</td><td id="cel_green">12</td>
                  <td id="cel_green">2</td><td id="cel_green">42</td><td id="cel_green">22</td>
                  <td id="cel_green">12</td><td id="cel_red">-8</td><td id="cel_red">-8</td>
                  <td id="cel_red">-8</td><td id="cel_red">-8</td>
                </tr>
                <tr>
                  <td id="cel_lev56">LEVEL5</td><td id="cel_yel2">à-Créer</td><td>0</td><td>0</td><td>0</td>
                  <td>0</td><td>0</td><td>0</td><td id="cel_green">8</td><td>0</td><td id="cel_green">8</td>
                  <td>0</td>
                </tr>
                <tr>
                  <td id="cel_lev56">LEVEL6</td><td id="cel_yel2">Décision-PDP</td><td></td><td></td><td></td>
                  <td></td><td></td><td></td><td></td><td></td><td></td><td></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
