
<div class=" content">
  <div class=" row">
    <div class=" col-md-12">
      <div class=" card">
        <div class=" card-header">
          
          <div class="bloc">
            <table class="t1">
                <thead>
                   <tr>
                      <th>select-costumer</th> 
                      <th><select name="" id=""><option>select customer</option></select></th>
                   </tr>
                 </thead>
            </table>
            <table class="t2" >
              <thead>
                <tr>
                  <th>classif customer</th> 
                  <th>100003</th>
                </tr>
              </thead>
            </table>
            <table class="tab">
              <thead>
                <tr>
                  <th>code article</th> 
                  <th><select name="" id=""><option>select code</option></select></th>
                </tr>
              </thead>
            </table>
          </div>          
        </div>
        <br>
        <div class=" card-body">
          <div class=" table-responsive">
            
            <table class=" table tablesorter text-center" id="" >
              <thead class=" text-primary">
                <tr>
                  <th class="pink">Delivry-week</th>
                  <th>1Arrears</th>
                  <th>current week</th>
                  <th>16</th>
                  <th>17</th>
                  <th>18</th>
                  <th>19</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td class="pink">Requested-qty</td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                    <td class="pink">who</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td class="pink">Missing-Parts</td>
                    <td>Generated</td>
                    <td>Generated</td>
                    <td>Generated</td>
                    <td>Generated</td>
                    <td>Generated</td>
                    <td>Generated</td>
                </tr>
                <tr>
                    <td class="pink">needed-Qty</td>
                    <td>Generated</td>
                    <td>Generated</td>
                    <td>Generated</td>
                    <td>Generated</td>
                    <td>Generated</td>
                    <td>Generated</td>
                </tr>
                <tr>
                    <td class="pink">Procurement engagement</td>
                    <td>%advecement</td>
                    <td>%advecement</td>
                    <td>%advecement</td>
                    <td>%advecement</td>
                    <td>%advecement</td>
                    <td>%advecement</td>
                </tr>
                <tr >
                    <td class="pink">engagement simulation</td>
                    <td>green if everything is Done by The PROCURE/red else/else res</td>
                    <td>every thing is good</td>
                    <td>everything is good</td>
                    <td>everything is good</td>
                    <td>everything is good</td>
                    <td> green if everything is good else red </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
