table, th, td {
    border: 0.5px solid gray;
    border-collapse: collapse;
}
.bloc{
    display: flex;
    flex-wrap: nowrap;
    text-align: center;
}
.t1{
    position: relative;
    left:48%;
    background-color: pink;
    height: 20px;
}
.t2{
    position: relative;
    left:49%;
    background-color: pink;
}
.bloc th{
    height: 30px;
    width:100px;
    white-space: nowrap;
}
.tab{
    width: 30%;
    position: absolute;
    top: 40px;
    background-color: #FFC400;
}
.pink{
    background-color:#f6d186;
}
